.body-1 {
  background-image: url("https://images.ctfassets.net/u1nb1km7t5q7/7clxD7eNaBZIcSC3ypABda/9de320505533faae4d6278ea02fb4e5d/Aesop_Lunar_New_Year_2022_Web_Homepage_Primary_Full_Bleed_Desktop_L_2880x1044px.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 514px;
  color: white;
}

.body-2 {
  height: 600px;
  padding-top: 100px;
}

.body-3 {
  display: flex;
  padding-top: 100px;
}

@media (max-width: 960px) {
  .body-3 {
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
  }
  .body-5 {
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
  }
  .body-6 {
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
  }
}

.body-5 {
  display: flex;
  padding-top: 100px;
}

.body-6 {
  display: flex;
  padding-top: 100px;
}

.slick-a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.slick-a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
